################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/3140AutismLearning/FileContentIndex/fdd31fd1-75de-4938-94fc-c7b78468e056.vsidx
/.vs/3140AutismLearning/FileContentIndex/0617ce57-d320-4c16-91d7-a245794ef585.vsidx
/.vs/3140AutismLearning/FileContentIndex/673cecfc-36e1-4378-90ec-29d92aeb1583.vsidx
